@{
    ViewBag.Title = "About Me";
}
<div class="container">
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>
</div>


<div class="container-black">
    <div class="container">
        <h2>University of Leeds</h2>
        <p class="lead">MSc GIS - 2017 to Present.</p>
    </div>
</div>
<a href="http://www.geog.leeds.ac.uk/study/masters/courses/msc-in-gis/" title="MSc GIS course page, University of Leeds"><img src="~/images/University-of-Leeds-Pic-1.jpg" alt="The Parkinson Building- University of Leeds"/></a>

<div class="container">
    <h2>University of Aberdeen</h2>
    <p class="lead">BSc Geology and Petroleum Geology - 2012 to 2016.</p>
</div>
<a href="https://www.abdn.ac.uk/study/undergraduate/degree-programmes/680/F602/geology-and-petroleum-geology/" title="BSc Geology and Petroleum Geology course page, University of Aberdeen"><img src="~/images/University-of-Aberdeen-Pic-1.jpg" alt="Kings College- University of Aberdeen"/></a>

