@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <h2>Welcome to my Personal website</h2>
    <p class="lead">Here you will able to find all the programming projects I have completed as well as various woodworking projects and some information about me. Below are some links to my other spaces around the web and my CV.</p>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <p><a class="btn btn-default" href="https://www.linkedin.com/in/matthewjkay/">LinkedIn &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <p><a class="btn btn-default" href="https://github.com/MjKay1">GitHub &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <p><a class="btn btn-default" href="~/CurriculumVitae.pdf">My CV &raquo;</a></p>
        </div>
    </div>
</div>