@{
    ViewBag.Title = "Projects";
}
<div class="container">
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>
</div>

<div class="container-black">
    <div class="container">
        <h2>Bathymetric Toolbox Project</h2>
        <p class="lead">MSc GIS Advanced Programming personal project- a Toolbox for Hydrography and Bathymetry Tools to indentify features on the sea bed such as wrecks and structures, show channels for vessels of various drafts and more.</p>
    </div>
</div>
<a href="https://github.com/MjKay1/Hydrographic-Charting-Toolbox" title="Link to the GitHub repository"><img src="~/images/Bathymetry.PNG" /></a>

<div class="container">
    <h2>Improved Catan Box Insert</h2>
    <p class="lead">The tabletop game Catan has many expansions, all of which come in the same box, which has a large plastic insert to organise the various tiles and playing pieces. this plastic insert wastes vast amount of space, to avoid either carrying 4 individual boxes if you wished to play 8 player expansions of the game i designed and created a new insert for the box that allows for the base game, the 7-8 player expansion, the Seafarers expansion and the 7-8 player Seafarers expansion to fit inside 1 of the origional boxes. It was made using a plywood outer shell (which could have a lid attached if you didnt wish to use the origional cardboard game box) with 3d printed internal plastic elements..</p>
</div>
<img src="~/images/catan.jpg" alt="Photo of Catan box" />